{% extends "layout.html" %}

{% block content %}
<h1 class="result">Search results</h1>
    {% if search_results|length > 0 %}
        {% for result in search_results %}

            <div class="result">
              <b>{{ result[0] }}</b> <br>

                {% if result[5] == 'Competitive'%}
                  PVP<br>
                {% elif result[5] == 'Cooperative'%}
                Coop<br>
                {% endif %}

                {% if result[2] == result[3] %} {{result[2]}}
                {% else %} {{ result[2] }}-{{ result[3]}} {% endif %}
                players<br>
              Playing time: {{ result[4] }} minutes<br>
              Mechanics: {{ result[6] }}

              </div>
        {% endfor %}
      {% else %}
      <p>None found, sorry.</p>
      {% endif %}
      <p><a href="javascript:history.back()">&lt;&lt; Back</a></p>
{% endblock %}
