{% extends "layout.html" %}

{% block content %}
  <h1>Patience's Gamekeeper</h1>
  <div>
  <form action="/search" method="post">
    <p> Number of Players: &nbsp;
      <input name="player_num" placeholder="" type="number" min="1" max="14"></p>
    <p> Playing Minutes: &nbsp;
        <input name="playing_minutes" placeholder="" type="number" min="30" max="240" step="30"></p>
    <p> PVP or Coop: &nbsp;
        <select name="coco">
          <option value=""></option>
          <option value="Competitive">PVP</option>
          <option value="Cooperative">Coop</option>
        </select></p>
        <p> You can also search by game title:<br>
          <input name="title" placeholder="" type="text"></p>
    <input type="submit" value="Search">
  </form>

</div>
{% endblock %}
