{% extends "layout.html" %}

{% block content %}
  <div>
  <form action="/search" method="post">
    <p> Game Title: &nbsp;
      <input name="title" placeholder="" type="text"></p>
    <p> Number of Players: &nbsp;
      <input name="player_num" placeholder="" type="number" min="1" max="14"></p>
    <p> Playing Minutes: &nbsp;
        <input name="playing_minutes" placeholder="" type="number" min="30" max="240" step="30"></p>
    <p> PVP or Coop: &nbsp;
        <select name="coco">
          <option value=""></option>
          <option value="Competitive">Competitive</option>
          <option value="Cooperative">Cooperative</option>
        </select></p>
    <input type="submit" value="Search">
  </form>

</div>
{% endblock %}
