<!DOCTYPE html>
<html>
<head>
  <title>Darky & Patience's BGG Database Search</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
  <style type="text/css">
  body {
    margin: 10px;
  }
  h1 {
    font-family: Permanent Marker;
    margin-bottom: 30px;
    text-align: center;
  }
  div {
    font-family: Open Sans;
    font-size: 14pt;
    text-align: center;
  }
  p {
    font-family: Open Sans;
    margin-bottom: 15px;
    text-align: center;
  }
  .result {
    text-align: left;
    margin-left: 40px;
    margin-bottom: 40px;
  }
  a {
    font-family: Permanent Marker;
    font-size: 14pt;
  }
  </style>
</head>
<body>
  {% block content %}
  {% endblock %}
</body>
</html>
